@import "~antd/dist/antd.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ant-input {
  border-radius: 20px;
}

.ant-input-group-addon {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #f5f6fa;
}

.imgAvatar {
  border: 1px solid #6614f5;
  padding: 3px;
}
